<!DOCTYPE html>
<html>
<head>
  <title>Foodi-Hub</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to Foodi-Hub</h1>
  <ul>
    <li><a href="/restaurants">Restaurants</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/orders">Orders</a></li>
  </ul>
</body>
</html>
